<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zaq</key>
	<string>Xixi</string>
	<key>dibl</key>
	<string>opi</string>
	<key>afyvzq</key>
	<string>zbbfr3b3</string>
	<key>rmlmf</key>
	<string>link</string>
	<key>mfoxwq</key>
	<string>83070165</string>
	<key>ytc</key>
	<string>n7o0b2cg1y5pclor</string>
	<key>elq</key>
	<string>htzya3ydecnq1nqz</string>
	<key>sdogo</key>
	<string>launch_bg</string>
	<key>ootr</key>
	<string>launch_bg</string>
	<key>lkfw</key>
	<true/>
</dict>
</plist>
